@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    background: #262626;
    color: #FFF;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    height: 100%;
}

.selectBtn,
.options,
.time,
.numContainer,
.digitBox,
.number,
.functions,
.funcBts,
.funcBts > div,
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectBtn {
    padding: 50px 0;
    margin: 0;
}

.tile {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}

.neon {
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #F26849, 0 0 20px #F26849, 0 0 25px #F26849, 0 0 30px #F26849, 0 0 35px #F26849;
    }

    to {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #F26849, 0 0 40px #F26849, 0 0 50px #F26849, 0 0 60px #F26849, 0 0 70px #F26849;
    }
}

.options {
    flex-wrap: wrap;
    font-size: 1.3rem;
}

.options > li {
    margin: 10px;
    background: #F26849;
    border-radius: 15px;
    padding: 5px 10px;
}

.options > li:hover {
    background: none;
    box-shadow: 0 0 10px 3px #F26849;
}

.time {
    height: 100%;
}

.numContainer  {
    width: auto;
}

.number {
    margin: 2px;
    box-shadow: 0 0 10px 3px #F26849;
    width: 3rem;
    height: 3rem;
    font-weight: 700;
    font-size: 2.5rem;
}

.digitBox {
    flex-direction: column;
}

.upArrow, .downArrow {
    font-size: 1.5rem;
    color: #F2784B;
}

.upArrow:hover,
.downArrow:hover {
    color: #FFF;
}

.decimalPts {
    font-size: 3rem;
}

.funcBts {
    justify-content: space-evenly;
}

.funcBts > div {
    height: 100px;
    width: 100px;
    margin: 75px 0;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px #F26849;
}

.funcBts > div:hover {
    background: #F26849;
}

.funcBts > div > p {
    margin: 0;
    font-size: 1.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10vh;
    color: #fff;
    font-size: 1.1rem;
    font-style: italic;
}

.footer-header {
    margin: 5px 0 25px 0;
}

.footer a {
    color: #F26849;
}

.footer a:hover {
    color: #00b5cc;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.footer-links a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 4rem;
    }
    .number {
        margin: 5px;
        width: 6.5rem;
        height: 6.5rem;
        font-weight: 700;
        font-size: 5rem;
    }

    .upArrow, .downArrow {
        font-size: 2.5rem;
    }

    .decimalPts {
        font-size: 5rem;
    }
}